<div class="small-container center-block">
  <h1 class="display-4">Contact</h1>


  <p class="h5">Escribrenos contact@tamayblog.com</p>
  <p>
    Dejanos tus quejas, dudas o sugerenecias para nuestro blog.
  </p>
