<div class="large-container center-block">
  <h1 class="display-4">BIENVENIDO</h1>


  <p class="h5">Escribe sobre lo que te apasiona y a tu manera</p>
  <p>
    Crea un blog atractivo y original. Es fácil y gratuito.
  </p>

  <p class="h5">Elige el diseño perfecto</p>
  <p>
    Crea un blog atractivo y adaptado a tu estilo. Dispones de un surtido de plantillas para elegir, fáciles de usar, con diseños flexibles y montones de imágenes de fondo, o puedes diseñar un blog totalmente nuevo.
  </p>

  <p class="h5">Consigue un dominio gratuito</p>
  <p>
    Encuentra el alojamiento perfecto para tu blog. Consigue un dominio gratuito blogspot.com o compra uno personalizado en un par de clics.
  </p>

  <p class="h5">Gana dinero</p>
  <p>
    Sácale un rendimiento a tu esfuerzo. De forma automática, Google AdSense puede mostrar en tu blog anuncios relevantes, orientados a tus lectores: así obtienes ingresos mientras escribes sobre lo que te apasiona.
  </p>

  <p class="h5">Conoce a tu audiencia</p>
  <p>
    Descubre qué entradas tienen más éxito con los análisis integrados en Blogger. Puedes ver el origen de tus lectores y qué les interesa. Si quieres saber más detalles, tienes la opción de conectar tu blog directamente con Google Analytics.
  </p>

  <p class="h5">Aférrate a tus recuerdos</p>
    Guarda los momentos que importan. Blogger te permite guardar con toda la seguridad y gratis miles de entradas, fotos y otras cosas con Google.
  </p>

  <p class="h5">Súmate a millones de blogueros</p>
  <p>
    Tanto si quieres compartir tus conocimientos como dar las últimas noticias o decir lo que se te pase por la cabeza, en Blogger estás muy bien acompañado. Regístrate para saber por qué millones de personas han escrito aquí sobre lo que les apasiona.
  </p>

<br>

</div>
