<div class="texto">
  <h1>Bievenido <%= current_user.email %></h1>

  <p>
    Quisque tincidunt, sem at sagittis interdum, metus diam hendrerit neque, sed fringilla ante felis nec lectus. Integer nisl lacus, auctor ac tristique et, congue vitae dui. Vivamus quis imperdiet dolor. Duis egestas arcu a cursus dapibus. Mauris sollicitudin placerat nisl varius sagittis. Mauris porttitor imperdiet tempor. Vestibulum pellentesque dignissim lacus, sit amet dignissim ex placerat non. Nam blandit erat id tellus mattis, quis sollicitudin ipsum tristique. Nulla ac rhoncus lectus, in blandit sapien. Cras condimentum tempor scelerisque. Nulla interdum risus in ligula sagittis, eu feugiat tortor ultricies.
  </p>

  <p>
    Nam non pulvinar quam, ac posuere lectus. Nulla fermentum consequat turpis, eu dignissim mauris semper id. Vestibulum vitae porta elit, non malesuada ipsum. Donec at accumsan odio. Integer molestie egestas sem, vitae imperdiet nisi suscipit vitae. Morbi iaculis auctor lectus vitae luctus. Aenean sed imperdiet est. Etiam efficitur luctus orci sed eleifend. Mauris nec diam molestie, cursus nibh malesuada, facilisis enim. Duis varius massa nec faucibus iaculis. Duis nec tortor ipsum.
  </p>

</div>